body {
	font-family: Helvetica;
	font-size: 12pt;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 0px;
}
#doctors-container {
	float:right;
}
#enemies, .enemies{
	border: solid black 1px;
	width: 300px;
}
#doctors, .doctors {
	border: solid black 1px;
	width: 400px;
}
.who li img {
	width: 100px;
	float:left;
	margin: 0px 20px;
	border: solid 1px black;
}
.who li {
	clear: left;
	list-style: none;
	margin: 20px 0px;
	padding-top: 20px;
}
#doctors li img {
	height: auto;
	float: right;
}
#doctors li {
	clear: right;
}
.who h2 {
	padding-left: 20px;
	font-size: 14pt;
}
.loading {
	background-image: url(../images/ajax-loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
}
.actions {
	position: absolute;
	top: 80px;
	left: 340px;
	padding-top: 20px;
	width: 200px;
	
}
.actions li {
    list-style: none;
}
.notice {
	position: absolute;
	top: 300px;
	left: 340px;
	color: white;
	background-color: #BE1B34;
	width: 200px;
}
.rounded {
	border: solid black 2px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 10px;
}
.orange {
	background-color: #F4A31F;
}
.source {
	color: red;
	font-size: 11pt;
}
.yui3-widget {
    background: pink;
    padding: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 2px solid black;
}
.yui3-widget-hd {
    border-bottom: 2px dashed grey;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.who .yui3-widget {
    background: #84C8FF;
}
#doctorDetail .yui3-widget-hd {
    font-family: Monofur;
    border-bottom: 4px solid black;
}
#doctorDetail .yui3-widget-bd {
    padding-top: 10px;
}
#doctorDetail .yui3-widget-ft {
    padding-top: 10px;
}
#doctorDetail h3 {
    margin: 0px;
}
#doctorDetail img {
	float:right;
	height: 16em;
}



#demolog li {
    list-style: none;
    min-height: 30px;
}
#demolog .odd {
    background: salmon;
}
#demolog .even {
    background: #FFACB7;
}
#demolog span {
    font-weight: bold;
    font-size: 16pt;
}
#demolog .arrow {
    float: right;
    clear: right;
    font-size: 18pt;
    padding-right: 5px;
}
#demolog .ajax-module-loader {
    color: #800000;
}
#demolog .doc-detail-handler {
    color: indigo;
}
#demolog .page {
    color: #006100;
}
#demolog .enemies-log .arrow {
    color: red;
}
#demolog .doctors-log .arrow {
    color: blue;
}
#demolog .doctors-log .arrow {
    color: yellow;
}